.home-main {
    background: var(--backgroundColor);
}

.homePage-container {
    color: var(--textColor);
    padding-bottom: 50vh;
}
.top-Section {
    margin-top: 50vh;
    width: 100%;
    height: auto;
}
.article {
    text-align: center;
    font-size: 80px;
}