.home-main {
    background: var(--backgroundColor);
}

.homePage-container {
    color: var(--textColor);
    padding-bottom: 50vh;
}
.top-Section {
    margin-top: 15vh;
}
.article {
    font-size: 80px;
    z-index: 1;
    background: -webkit-linear-gradient(var(--secondaryColor) 2%, var(--primaryColor) 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.typed {
    overflow: hidden;
    white-space: nowrap;
    width: 19ch;
    border-right: .15em solid orange;
    animation: typing 2.5s steps(30,end), blink-caret .5s step-end infinite alternate;
}
.top-animation {
    margin-top: 10VH;
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.top-animation-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(0px,0px);
    background-color: var(--secondaryColor);
    animation: circle-roll 5s linear normal forwards;
}
.top-rectangle {
    height: 100px;
    width: 20px;
    background-color: var(--secondaryColor);
}
.rectangle-animation1 {
    transform: translate(16vw,0);
    animation: rectangle-fall1 1.5s cubic-bezier(0.68, 0.07, 0.35, 0.98) 4.45s 1 normal forwards;
    transform-origin: bottom left;
}
.rectangle-animation2 {
    transform: translate(7vw,0);
    animation: rectangle-fall2 1.5s cubic-bezier(0.15, 0.88, 0.58, 1) 5.2s 1 normal forwards;
    transform-origin: bottom left;
}
.rectangle-animation3 {
    transform: translate(0,0);
    animation: rectangle-fall3 1.5s ease-out 5.75s 1 normal forwards;
    transform-origin: bottom left;
}

@keyframes circle-roll {
    from {
        transform: translate(0px,-100px);
    } 
    10% {
        transform: translate(5vw,0px);
    }
    20% {
        transform: translate(10vw,-70px);
    }

    30% {
        transform: translate(15vw,0px);
    }

    35% {
        transform: translate(17.5vw,-40px);
    }
    40% {
        transform: translate(20vw,0px);
    }
    42.5% {
        transform: translate(21.25vw,-20px);
    }
    45% {
        transform: translate(22.5vw,0px);
    }
    47.5% {
        transform: translate(23.75vw,-10px);
    }
    49% {
        transform: translate(24.5vw,0px);
    }
    50% {
        transform: translate(25vw,-5px);
    }
    51% {
        transform: translate(25.5vw,0px);
    }
    52% {
        transform: translate(26vw,-3px);
    }
    53% {
        transform: translate(26.5vw,0px);
    }
    to {
        transform: translate(29.2vw,0px);
    }
}

@keyframes rectangle-fall1 {
    from {
        transform: translate(16vw,0) rotate(0deg);
    } 
    to {
        transform: translate(16vw,-20px) rotate(70deg);
    }
}
@keyframes rectangle-fall2 {
    from {
        transform: translate(7vw,0) rotate(0deg);
    } 
    to {
        transform: translate(7vw,-20px) rotate(75deg);
    }
}
@keyframes rectangle-fall3 {
    from {
        transform: translate(0,0) rotate(0deg);
    } 
    to {
        transform: translate(0,-20px) rotate(90deg);
    }
}
    
@keyframes typing {
    from { width: 0 }
}

@keyframes blink-caret {
    50% { border-color: transparent }
}

.scrollToTopContainer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.scrollToTopButton {
    background-color: var(--backgroundColor);
    border: none;
}
.scroll-to-top-icon {
    background-color: var(--backgroundColor);
    width: 30px;
    transform: rotate(-45deg);
    height: auto;
}