.list-data {
    list-style: none;
    text-decoration: none;
    padding-right: 20px;
}

.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundColor);
}

.logo-image {
    height: 50px;
    margin: 5px;
}

.link {
    padding: 10px;
    text-decoration: none;
    border-radius: 0.2rem;
    transition: 0.5s;
    color: var(--white)
}

.link:hover {
    color: var(--backgroundColor);
    background-color: var(--white);
}

.show-selection {
    background-color: var(--secondaryColor);
    color: var(--backgroundColor)
}

.hide-selection {
    color: var(--white)
}

.static {
    position:absolute;
    background: white;
  }
  
.static:hover {
    opacity:0;
}